.header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  &__logo {
    width: 150px;
    & img {
      width: 120px;
    }
  }
  &__nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    &_link {
      display: flex;
      text-decoration: none;
      color: #2a272d;
      font-size: 14px;
      font-weight: 700;
      padding: 0 20px;
      height: 30px;
      align-items: center;
    }
  }
}

.border {
  border-left: #2a272d solid 2px;
  border-right: #2a272d solid 2px;
}
